body {
    background-color: black;
}

.profile {
    display: flex;
    justify-content: center;
    align-content: center;
    size: 35%;
    flex-wrap: wrap;
}
#pic1 {
    margin-top: 10%;
    padding: 1rem;
    border-color: aliceblue;
    border-style: solid;
    border-width: 0.75rem;
   border-radius: 50%;
   height: 30rem;
   width:21rem;
   margin-left: 15rem;
   animation: big 2s 0s infinite;
   }

.topnav {
    
    align-items: stretch;
    display: flex;
    justify-content: space-around;
    
}   

.topnav a{
    color: aliceblue;
    font-size: medium;
    float:left;
    text-align: center;
   padding-top: 1rem;
   padding-bottom: 1rem;
   padding-left: 7%;
   padding-right: 7%;
   flex-wrap: wrap;
   text-decoration: none;
}

.topnav a:hover{
    background-color: #3333334f;
    color: black;

}

#one {
    background-color: #EF3D59;
    
}
#two {
    background-color: #E17417;
}

#thri {
    background-color: #EFCD55;
}

#four {
    background-color: #4ae19d;
}

#five {
    background-color: #344e5c;
}

#lols {
    margin-top: 3rem;
    font-family: 'Indie Flower';
    font-size: 1.4rem;
    color: aliceblue;
    text-align: center;
}
#headi{
    text-align: center;
    margin-top: 8rem;
    font-family: 'Bangers';
    color: aquamarine;
}

#pin, #fb, #git{
    padding: 1.5rem;
  font-size: 2rem;
  width: 2rem;
  text-align: center;
  text-decoration: none;
  margin: 0.5rem 0.25rem;
  border-radius: 50%;
}
.soc{
    display: flex;
    justify-content: center;
    background-color:#ffffff41;
}
#abc
{
    color: #43609C;
    text-align: center;
}
#xyz{
    color: aliceblue;
    text-align: center;
}

.fb1:hover img{
    transition:all 0.5s ease;

}    
.fb1:hover #fb{
    transform: scale(1.2);
}

.pin1:hover img{
    transition:all 0.5s ease;

}    
.pin1:hover #pin{
    transform: scale(1.2);
}
.git1:hover img{
    transition:all 0.5s ease;

}    
.git1:hover #git{
    transform: scale(1.2);
}
.imgcont img{
    transition: all 0.5s ease;
}
.imgcont:hover #pic1{
    transform: scale(1.1);
}

@media screen and (max-width:800px){
  
    #pic1 {
        margin-top: 10%;
        padding: 1rem;
        border-color: aliceblue;
        border-style: solid;
        border-width: 0.75rem;
       border-radius: 50%;
       height: 27rem;
       width:18rem;
       margin-left: 1rem;
       animation: big 2s 0s infinite;
       }


}