#para {
    text-align: center;
    font-size: 40px;
    color: #a9d962;
    margin-top: 5px;

}
canvas {
    
    background-color:rgb(136, 100, 10);
}
body {
    margin:0;
    background-color:rgb(136, 100, 10) ;
}
#topdisp {
    font-size: 2rem;

}
#highscfo {
    float:right;
    margin-right: 3rem;
}

#nowscfo{
    float: right;
    margin-right: 3rem;
}